body {
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;

}

button {
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
.container {
    aspect-ratio: 1 / 1;
    width: 60%;
    gap: 2px;
}